@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

@font-face {
  font-family: "Instrument Serif";
  src: url("/InstrumentSerif-Regular.woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

body {
  background-color: #F0F2F6;
  color: #292B31;
}

::selection{
    background-color: #AAB9E1;
    color:#F0F2F6;
}

h1,h2,h3{
    font-family: "Instrument Serif", serif;
}

h1{
  font-size: 8rem;
}
h2{
  font-size: 7rem;
}
h3{
  font-size: 6rem;
}

p{
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
}
