@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

@font-face {
  font-family: "Instrument Serif";
  src: url("/InstrumentSerif-Regular.woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

::selection{
    background-color: #AAB9E1;
    color:#F0F2F6;
}

h1,h2,h3{
    font-family: "Instrument Serif", serif;
    font-weight:normal;
}

h1{
  font-size: 8rem;
}
h2{
  font-size: 7rem;
}
h3{
  font-size: 6rem;
}

p, button, a, li{
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
}

p{
  line-height: 1.5;
  margin-top: 2rem;
}

button{
  padding:2rem 4rem;
  border-radius: 4rem;
  cursor: pointer;
}

h1 div, h2 div,h3 div{
  overflow: hidden;
}

h1 span, h2 span, h3 span{
  display: inline-block;
  transform:translateY(100%);
  opacity: 0;
}

#main{
  background-color: #F0F2F6;
  color:#292B31;
}