.responsivenotif{
    display: none;
    position: fixed;
    overflow-y: hidden;
    background-color: #AAB9E1;
    color:#292B31;
    text-align: center;
    padding: 5rem 10rem;
    width: 100vw;
    height:100vh;
    z-index: 1;
    font-family: "Instrument Serif", serif;
    font-size: 5rem;
}

.hero, .morewheeinheading{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  height:100vh;
  background: radial-gradient(50% 50% at 50% 50%, #AAB9E1 0%, #F0F2F6 100%)
}

.about{
    text-align: center;
    margin:10rem 5rem;
}

.aboutimgset{
    display: grid;
    grid-template-columns: repeat(4,25rem);
    justify-content: center;
    margin:10rem 0;
}

.aboutimgset .imgcontainer{
    position: relative;
    height:70vh;
    overflow: hidden;
}
.aboutdesc{
    padding:0 15rem;
}

.discography {
    padding: 5rem;
}

.solowork{
    padding:10rem 0;
    height:500vh;
}

.soloitem{
    min-height: 20rem;
    margin-bottom: 150px;
}

.vocals{
    overflow: hidden;
}

.vocalyoutube{
    height:80vh;
    width:50vw;
    margin-top: 10rem;
    float: left;
    clear: left;
}

.vocalyoutube:nth-of-type(2n){
    float: right;
    clear: both;
}


.dance{
    margin-top: 8rem;
    text-align: right;
}

.dance p{
    float: right;
    width: 60rem;
    margin-bottom: 10rem;
}

.danceyoutube iframe{
    height: 80vh;
    width:90vw;
    margin-bottom: 5rem;
}

.komca{
    text-align: center;
}

.komcacontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    padding:5rem;
    margin-top: 5rem;
}

.awards{
    padding-top: 5rem;
    text-align: center;
}

.awardscontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    
    padding:5rem;
    margin-top: 5rem;
}

.morewheeinheading{
    padding:30rem 0;
}

.art{
    text-align: center;
    padding:10rem 4rem;
}

.artmain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artredd{
height:70rem;
width: 90vw;
position: relative;
margin: 5rem 0;
}

.artdescription{
    font-family: "Instrument Serif", serif;
    font-weight:normal;
    font-size: 6rem;
}

.easysoar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin: 5rem 0;
}

.easysoar .imgcontainer{
    height:70rem;
    width: 44vw;
    position: relative;
}

.otherart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25rem;
}

.otherart figure{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.otherart figure:nth-of-type(2n){
    align-items: end;
}

.otherart .imgcontainer{
    height:50rem;
    width: 40vw;
    position: relative;
}



.end{
    text-align: center;
    margin-top: 8rem;
}

.end a{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

@media only screen and (max-width:600px) {
    .responsivenotif{
        display: block;
    }
}