.main{
    overflow-x: hidden;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:10rem 15rem;
    background: radial-gradient(50% 50% at 50% 50%, #AAB9E1 0%, #F0F2F6 100%);;
}

.about{
    text-align: center;
    margin:5rem;
}

.aboutdesc{
    padding:0 15rem;
}